* {
  font-family: ZenAntiqueSoft !important;
}
html {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ZenAntiqueSoft !important;
}

.footer {
  background-color: $dark-color;
  color: $white;
  padding: 1%;
  text-align: center;
  font-size: 14px;
  margin-top: auto;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
