.about-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
    height: 300px;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 1%;
    &__icon {
        background-color: $primary-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
    }
    .card-text {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    .about-card {
        margin-top: -10%;
        z-index: 10;
    }
}
.about-section {
    .about-title {
        margin: 4%;
        text-align: center;
        h6 {
            color: $primary-color;
            text-transform: uppercase;
        }
        h2 {
            text-transform: capitalize;
        }
    }
    .about-container {
        padding: 2%;
        p {
            font-size: 12px;
        }
    }
    .about-textarea {
        padding-top: 5%;
        margin-bottom: 2%;
    }
}
.contact__content__map {
    margin-bottom: 1%;
}
// About Page
.about__page__title {
    text-align: center;
    margin: 1%;
}
.about__page {
    font-size: 14px;
}
.about__page__founder__title {
    margin-bottom: 0px;
}
