.carousel-caption {
    color: $secondary-color;
    margin-bottom: 5%;
}
.carousel-item > img {
    max-height: 500px;
}

@media only screen and (max-width: 600px) {
    .carousel-caption {
        margin-bottom: 0%;
    }
    .carousel-item > img {
        max-height: 100%;
    }
}
