.contact__heading {
    margin: 4%;
    text-align: center;
    h6 {
        color: $primary-color;
        text-transform: uppercase;
    }
    h2 {
        text-transform: capitalize;
    }
}
.address__main {
    p {
        font-size: 14px;
    }
}
.address__phone {
    a {
        text-decoration: underline;
        font-size: 14px;
        color: #212529;
    }
    .address__phone__icon {
        padding-right: 5px;
        font-size: 16px;
    }
}
.contact__form {
    margin-top: 2%;
    h6 {
        margin-bottom: 2%;
    }
    .form-floating {
        margin-bottom: 2%;
    }
}
.contact {
    padding: 2%;
    margin-top: 1%;
}
